body{
  margin:0;
  background: #EEEEEE;
  display: flex;
  justify-content: center;
  font-family: 'Source Code Pro', monospace;
  color:#332C39;
}


h2,h3{
  color:#FF2E63;
  text-shadow: 5px 5px #393E46;
  font-family: 'Press Start 2P', cursive;
  display:inline-block;
  margin: 5px;
}


h4{
  margin: 5px;
  color:#EEEEEE;
  font-size: 20px;
}

p{
  margin:5px;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  margin: 5px;
  width: 45px;
  height: 45px;
}

img{
  object-fit: fill;
  width:320px;
  height:180px;
}
#twitter,#github,#mail{
  position: relative;
  box-shadow:5px 5px #393E46;
}
#twitter:hover,#github:hover,#mail:hover{
  box-shadow: 0px 0px;
  position: relative;
  left:5px;
  top:5px;
}
#twitter{
  object-fit: fill;
  height: 40px;
  width: 40px;
  border-style: solid;
}


#github{
  object-fit: fill;
  height: 40px;
  width: 40px;
  border-style: solid;
}


#mail{
  object-fit: fill;
  height: 40px;
  width: 40px;
  border-style: solid;
}


.whole_main_thing{
  margin:10px;
  border-style: solid;
  width:900px;
  height: 900px;
  display: flex;
  flex-direction:column;
  align-items:  center;
}


.head{
  background-color: #00ADB5;
  font-size: 25px;
  height:auto;
  width:860px;
  border-style: solid;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  box-shadow:5px 5px #393E46;
}

.filter{
  background-color:  #00ADB5;
  border: solid;
  width: 860px;
  height:50px;
  position: sticky;
}
.contact{
  width:860px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.tabsform{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tabs{
  margin-top: 20px;
background-color: #FF2E63;
border: solid;
height:50px;
width: 860px;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
position: sticky;
}
.filterops{
  border: solid;
  border-width: thin;
  background-color: #EEEEEE;
  box-shadow: 5px 5px black;
  position: relative;
}
.filterops:hover{
  left: 5px;
  top:5px;
  box-shadow: 0px 0px;

}
#opsp{
font-weight: bolder;
}
.projects{
  border-style: solid;
  width:860px;
  height: 680px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  box-shadow: 5px 5px #393E46;

}

.project:hover{
  box-shadow: 0px 0px;
  left: 5px;
  top:5px;
}
.project{
  width:320px;
  height:auto;
  border-style:solid;
  margin:20px;
  box-shadow: 7px 7px black;
  position: relative;

}


.projecthead{
background-color: #00ADB5;
border-bottom: solid;
height: 60px;
}


.projectbod{
  border-bottom: solid;
}
.projectdet{
height: auto;
}
@media only screen and (max-width:800px) {
.whole_main_thing,.head,.tabs,.filter,.projects{
  width: 780px;
  height:900px;
}
}
@media only screen and (max-width:400px) {
  .whole_main_thing,.head,.tabs,.filter,.projects{
    width: 350px;
    height:860px;
  }
}
